<template>
  <div class="container mt-5">
    <h5><a v-on:click="logout">logout</a></h5>
    <h1 class="font-italic">File Upload</h1>
    <form
      id="uploadForm"
      enctype="multipart/form-data"
      v-on:change="uploadFile"
    >
      <div class="input-group mb-5">
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="inputGroupFile04" />
          <label class="custom-file-label" for="inputGroupFile04">{{
            docName
          }}</label>
        </div>
        <div class="input-group-append">
          <button
            class="btn btn-outline-secondary"
            type="button"
            v-on:click="sendFile"
          >
            Upload
          </button>
        </div>
      </div>
    </form>
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col" v-for="header of docs.headers" :key="header">
            {{ header }}
          </th>
        </tr>
      </thead>
      <tr v-for="doc of docs.allDocs" :key="doc._id">
        <td v-for="(td, index) of getRow(doc)" :key="index">
          {{ td }}
        </td>
      </tr>
    </table>
  </div>
</template>

<script>

export default {
  name: 'Home',
  data() {
    return {
      docs: [],
      docName: 'Search file',
      excel: null,
    };
  },
  async mounted() {
    if (this.session) {
      this.loadData();
    } else {
      this.$router.push('/');
    }
  },
  computed: {
    session: () => JSON.parse(localStorage.getItem('session')),
  },
  methods: {
    async loadData() {
      const { data } = await this.$http.get('/excel', {
        headers: {
          authorization: this.session.token,
        },
      });
      if (!data.error) {
        this.docs = data;
        this.getRow(this.docs.allDocs[0]);
      }
    },
    getRow(doc) {
      const res = [];
      this.docs.headers.forEach((header) => {
        res.push(doc[header] || ' ');
      });
      /* for (const header of this.docs.headers) {
        res.push(doc[header] || ' ');
      } */
      return res;
    },
    uploadFile(event) {
      const file = event.target.files[0];
      this.excel = file;
      this.docName = file.name;
    },
    sendFile() {
      const formData = new FormData();
      formData.append('excel', this.excel);
      this.$http
        .post('/excel', formData, {
          headers: {
            'Content-Type': 'multipart/form-data',
            authorization: this.session.token,
          },
        })
        .then(() => {
          this.loadData();
          this.excel = '';
          this.docName = 'Search file';
        })
        .catch((err) => {
          console.log(err);
        });
    },
    logout() {
      localStorage.removeItem('session');
      this.$router.push('/');
    },
  },
};
</script>
