<template>
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-4 offset-4">
        <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input
          type="email"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          placeholder="Enter email"
          v-model="user.email"
        />
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input
          type="password"
          class="form-control"
          id="exampleInputPassword1"
          placeholder="Password"
          v-model="user.password"
        />
      </div>

      <button
        v-on:click="singup"
        type="button"
        class="btn btn-primary btn-block"
      >
        Singup
      </button>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: 'SingupComponent',
  data() {
    return {
      user: {},
    };
  },
  methods: {
    async singup() {
      console.log(this.user);
      this.$http
        .post('/auth/singup', this.user)
        .then((response) => {
          if (!response.data.error) {
            this.$router.push('/');
            alert(response.data.data);
          } else {
            alert(response.data.error.message);
          }
        });
    },
  },
};
</script>
