<template>
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-4 offset-4">
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input
            type="email"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            placeholder="Enter email"
            v-model="user.email"
          />
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input
            type="password"
            class="form-control"
            id="exampleInputPassword1"
            placeholder="Password"
            v-model="user.password"
          />
        </div>

        <button
          v-on:click="singin"
          type="button"
          class="btn btn-primary btn-block"
        >
          Singin
        </button>
         <button
          type="button"
          class="btn btn-danger btn-block"
          v-on:click="singup"
        >
          Singup
        </button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'SinginComponent',
  data() {
    return {
      user: {},
    };
  },
  methods: {
    async singin() {
      console.log(this.user);
      this.$http
        .post('/auth/singin', this.user)
        .then((response) => {
          if (response.data.data.token) {
            localStorage.setItem('session', JSON.stringify(response.data.data));
            this.$router.push('home');
          }
        });
    },
    singup() {
      this.$router.push('singup');
    },
  },
};
</script>
